.x-btn.my-over {
    background: blue;
}
.x-btn.x-btn-my-pressed {
    background: red;
    font-weight: bold;

}



.x-grid-cell-inner{
    text-align: center;
}


.evening .x-grid-cell-inner  {
    background-color: #ff0000;
    font-weight: bold;
}

/* Splash screen */

.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    padding: 30px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 300px !important;
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('../images/logo.gif') !important;
    margin-top: -30px;
    margin-bottom: 10px;
}


/* End Splash screen */


.tbar-tabpanel {
    margin-bottom: 0;
    padding-bottom: 0;
    background:#ffffff !important;
}



/* Instructors list popup */

.instructor {
   float:left;
}

.instructor img {
    width:100px;
    height:125px;
}


.disabled {
    color:#666;
}

.disabled img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    
}
.descr {display:none;}